<div class="container">
  <div class="form-container">
    <div class="title">Hesap Oluştur</div>
    <form [formGroup]="createUserForm">
      <mat-form-field appearance="outline">
        <mat-label>Emailinizi Giriniz</mat-label>
        <input matInput formControlName="email" />
        <mat-error>
          <p *ngIf="f['email'].errors && f['email'].errors['required']">Email Zorunludur</p>
          <p *ngIf="f['email'].errors && f['email'].errors['email']">Email formatını doğru giriniz</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kullanıcı Adı Giriniz</mat-label>
        <input matInput formControlName="username">
        <mat-error>
          <p *ngIf="f['username'].errors && f['username'].errors['required']">Kullanıcı adı Zorunludur</p>
          <p *ngIf="f['username'].errors && f['username'].errors['maxlength']">Kullanıcı adı max 10 karakter olmalıdır
          </p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Şifrenizi Giriniz</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error>
          <p *ngIf="f['password'].errors && f['password'].errors['required']">Şifre Zorunludur</p>
          <p *ngIf="f['password'].errors && f['password'].errors['minlength']">Şifre en az 8 karakter olmalıdır</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Şifrenizi Onaylayın</mat-label>
        <input type="password" matInput formControlName="confirmPassword" />
        <mat-error>
          <p *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Şifre Tekrar Zorunludur</p>
          <p *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">Şifre en az 8 karakter
            olmalıdır</p>
        </mat-error>
        <mat-hint align="start" style="color: red;" *ngIf="createUserForm.errors?.['valuesDoNotMatch']">
          <strong>Şifre aynı değil</strong>
        </mat-hint>
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button [disabled]="createUserForm.invalid" mat-raised-button class="login-button" (click)="createAccount()">
        Kaydol
      </button>
      <p>Veya</p>
      <button mat-button routerLink="/login">Giriş Yap</button>
    </div>
  </div>
</div>
